{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block aboutactive %}active{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-3">About Me</h1>
  <p>Hey, everyone! I'm Navdeesh, known as Rish in the online world. I'm not just a coder; I'm a storyteller, a gamer, and a creative mind on a mission to bring entertainment and joy to your life.</p>

  <p>On this channel, you'll find a mix of coding tutorials, vlogs documenting my daily adventures, epic gaming moments, and carefully crafted edits that I hope will leave a lasting impression on you.</p>

  <p>Join me as we explore the fascinating world of technology, share some laughs, and connect over our common interests. Whether you're here to learn something new, be entertained, or just unwind, there's a place for you in this growing community.</p>

  <p class="btn btn-warning"><a target="_blank" href="https://scratch.mit.edu/users/Duffer_Dude"
      style="color: white; text-decoration: none;">Follow Me on Scratch</a></p>
  <p class="btn btn-danger"><a target="_blank" href="https://www.youtube.com/@official_dufferdude/?sub_confirmation=1"
      style="color: white; text-decoration: none;">Subscribe to My YouTube Channel</a></p>
</div>
{% endblock %}
