{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block aboutactive %}active{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-3">About Me</h1>
  <p>Hello, awesome people! I'm Rish, your digital companion in the world of coding, gaming, and daily adventures. If you're here, you're about to embark on a journey filled with tech exploration, gaming escapades, and a sneak peek into the life of a coder and creator.</p>

  <p>🚀 <b>Coding Adventures</b>: Join me as we unravel the wonders of coding together. From tackling complex algorithms to sharing coding tips and tricks, this is your go-to place for all things programming. Whether you're a seasoned developer or just starting, there's something for everyone here.</p>

  <p>🎮 <b>Gaming Chronicles</b>: Get ready for a gaming experience like no other. Dive into epic battles, explore new game releases, and join me on the quest for victory. Gaming is not just a hobby; it's a journey, and I want you to be a part of it.</p>

  <p>🌟 <b>Life Behind the Code</b>: This channel is not just about bits and bytes; it's about the person behind the screen. Explore my daily life through vlogs that capture the essence of my adventures. From exploring new places to sharing my favorite coding setups, you'll get an insider's look into my world.</p>

  <p>🎥 <b>Beyond the Screen</b>: But the fun doesn't stop there! Expect live coding sessions, Q&A sessions where I answer your burning questions, and even some exciting giveaways. This is not just a channel; it's a community of like-minded individuals passionate about tech, creativity, and fun!</p>

  <p>Ready to join the journey? Follow me on Scratch for coding magic and subscribe to my YouTube channel to stay updated on all the latest content. Together, let's code, game, and create a community where everyone belongs!</p>

  <p class="btn btn-warning"><a target="_blank" href="https://scratch.mit.edu/users/Duffer_Dude"
      style="color: white; text-decoration: none;">Follow Me on Scratch</a></p>
  <p class="btn btn-danger"><a target="_blank" href="https://www.youtube.com/@official_dufferdude/?sub_confirmation=1"
      style="color: white; text-decoration: none;">Subscribe to My YouTube Channel</a></p>
</div>
{% endblock %}
