{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container pass mt-4">
  <h2>Edit Profile Photo</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Update Profile Photo</button>
</form>
</div>

<style>
  .pass {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .pass input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #id_password {
    display: none;
  }
  label[for="id_password"] {
    display: none;
  }
  .pass ul li {
    color: #ff3333;
  }
  .pass button[type=submit] {
      background-color: #007bff; /* Set to Bootstrap primary color */
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .pass button[type=submit]:hover {
      background-color: #0056b3; /* Darken the color on hover, Bootstrap does this too */
  }
</style>
{% endblock %}