{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% load humanize %}

{% block js %}
<script>
let previews=document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML=element.innerText;
})
</script>
{% endblock %}

{% block blogactive %}active{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-3">Blog Posts</h1>
  {% for post in allPosts %}
  <div class="card my-3">
    <div class="card-body">
      <h6 class="card-title"><b><a style="text-decoration: none;">Published {{ post.timestamp|naturaltime }}</a> ({{post.views}})</b></h6>
      <h2 class="card-title"><a style="text-decoration: none;" href="/blog/{{post.slug}}">{{ post.title }}</a></h2>
      <p class="card-text"><div class="preview">{{ post.content|safe|truncatechars:250 }}</div></p>
      <a href="/blog/{{post.slug}}" class="btn btn-primary">Continue Reading ➔</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
